<!DOCTYPE html>
<head>
<title>
CS512 Project - {{page.title}}
</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CS512</a>
    <ul class="nav">
      <li><a href="index.html">Overview</a></li>
      <li><a href="solvers.html">Solvers</a></li>
      <li><a href="power.html">Capabilities</a></li>
      <li><a href="ideas.html">Ideas</a></li>
    </ul>
  </div>
</div>
  {{content}}
</div>
</body>
</html>
